/* single page container */
.single-container {
    display: flex;
    justify-content: space-between; /* Space between single and blogs */
    align-items: flex-start; /* Aligns both elements at the top */
    padding: 5rem 2rem 2rem 2rem;
    gap: 1rem;
    margin-top: 60px;
}

/* User single card */
.single-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%; /* Allow flexibility */
    text-align: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
    position: sticky; /* Make it static while scrolling */
    top: 2rem;
}

.single-card img {
    width: 100%; /* Ensure image takes up full card width */
    border-radius: 50%; /* Make the avatar circular */
    max-width: 150px; /* Set a max size for the avatar */
    margin-bottom: 1rem;
}

.single-fullname {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
}

.single-username {
    color: grey;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.single-blog{
    color: grey;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.single-btn {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #333;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
}

.single-btn:hover {
    background-color: #555;
}

/* User blogs section */
.single-userblogs {
    flex: 1; /* Take up remaining space */
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.single-userblogs h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

